.main-header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .header-container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #f1c40f;
    align-items: baseline;
  }
  
  .main-nav {
    display: flex;
    gap: 2rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 0;
    position: relative;
    transition: color 0.3s ease;
  }

  .dropdown-menu .dropdown-item {
     background-color: #2c3e50;
     color: #e7e4d6;
  }

  .nav-link:hover , .dropdown-item:hover , .dropdown-menu .dropdown-item:hover{
    color: #f1c40f;
  }
  
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: oklch(83.579% 0.1689 91.772);
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
