<div class="form-froup row">
    <div class="col-lg-2 col-12  text-lg-left  text-center">
        <label class="coll-form-label">Train Name</label>
    </div>
    <br><br>
    <div class="col-lg-10 col-12">
        <input type="text" class="form-control text-lg-left text-center" [(ngModel)]="Trainname" placeholder="Enter Train name">
    </div>
    
    <br class="d-lg-none d-block"><br class="d-lg-none d-block">

    <div class="col-12">
        <button (click)="addTrain()" *ngIf="Train.train_no==0" class="btn btn-primary">
            Add
        </button>
    </div>
    <div class="col-12">
        <button (click)="updateTrain()" *ngIf="Train.train_no!=0" class="btn btn-primary">
            Edit
        </button>
    </div>   
</div>

