/* Main app layout */
.app-wrapper {
    min-height: 100vh;
  }
  
  @media (min-width: 990px) {
    .container {
        max-width: 1500px;
    }
  }

  .pos{
    position: absolute;
  
    opacity: 0.4;
    pointer-events: none;
    
    z-index: -1;
  }
  
  img{
    height: 100%;
    width: 100%;
  }

  .main-con{
    position: relative;
  }