<!-- Full-width Wrapper -->
<div class="app-wrapper">

  <!-- Full-width Header -->
  <div class="container-fluid px-0">
    <app-header></app-header>
  </div>

  <div class="main-con">
    <img class="pos" src="gallery-4.jpg" alt="sdasds">

      <!-- Responsive Main Content -->
   
      <div class="container">
        <router-outlet></router-outlet>
        <app-common-details></app-common-details> 
      </div> 
      
  </div>





  <!-- Full-width Footer -->
  <div class="container-fluid px-0">
    <app-footer></app-footer>
  </div>

</div>
