<!-- Full-width Wrapper -->
<div class="app-wrapper">

  <!-- Full-width Header -->
  <div class="container-fluid px-0">
    <app-header></app-header>
  </div>

  <!-- Responsive Main Content -->
  <main class="container-fluid px-0">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- <div class="container-fluid px-0">
    <app-common-details></app-common-details>
  </div> -->

  <!-- Full-width Footer -->
  <div class="container-fluid px-0">
    <app-footer></app-footer>
  </div>

</div>
