

.row{
    position: absolute;
    top: 3%;
    left: 30%;
    z-index: 1;
    
}
img{
    position:static;
    height: 55rem;
    width: 100%;
    opacity: 0.7;
}

div{
    position: static;
}

h1{
    font-weight: 1000;
    color: rgb(3, 3, 73); 
}

button{
    margin: 0 5px;
    padding: 10px 50px;
}