<footer class="main-footer">
   
    <div class="row footer-container ">
      <div class="col-lg-4 col-12 copyright">
        <p>&copy; {{ currentYear }} Train Booking System. <br class="d-block d-lg-none"> All rights reserved.</p>
        <br class="d-block d-lg-none">
      </div>
      <div class="col-lg-4 col-12 footer-links">
        <a href="#" class="footer-link">Terms of Service</a>
        <a href="#" class="footer-link">Privacy Policy</a>
        <a href="#" class="footer-link">Contact Us</a>
      </div>
      <div class="col-lg-4 col-12 copyright text-lg-right">
         <br class="d-block d-lg-none">
        <p>Designed By Kavindu Premachandra</p>
      </div>
    </div>
      
 
  </footer>
