<div class="container mt-5">
  <div class="card compartment-card">
    <div class="card-header bg-dark text-white">
      <h3 class="text-center">Train Compartment</h3>
    </div>

    <div class="card">
      <select class="clean-select" [(ngModel)]="selectedModel" (change)="onModelChange($event)" *ngIf="type==2">
        <option>Model 1</option>
        <option disabled>──────────</option>
        <option selected>Reset</option>
      </select>
      <br>
      <!-- lower berth -->
      <div class="d-flex justify-content-between mb-4 p-3 border-bottom" *ngFor="let seat of seats;let i=index">

        <!-- Left seats -->
          <div class="d-flex seat-group">
            <div *ngFor="let leftseatno of seat.left" class="seat-container">
                <div 
                  class="seat m-2 p-2 rounded text-center cursor-pointer"
                  [ngClass]="getSeatClass(leftseatno,true,seat.row)"
                  (click)="toggleSeatSelection(leftseatno,seat.row,true)"
                >
                  {{ seat.row+"L"+leftseatno.number }}
              </div>
            </div>
         

            <!-- Gap in the middle -->
            <div class="aisle"></div>
       
            <!-- Right seats -->
            <div *ngFor="let rightseatno of seat.right" class="seat-container">
              <div 
                class="seat m-2 p-2 rounded text-center cursor-pointer"
                [ngClass]="getSeatClass(rightseatno,false,seat.row)"
                (click)="toggleSeatSelection(rightseatno,seat.row,false)"
              >
                {{ seat.row+"R"+rightseatno.number }}
              </div>
            </div>
          </div>

      </div>
      <!-- End of lower berth -->
    </div>
    
    <div class="card-footer" *ngIf="type!=3">
      <div class="legend d-flex justify-content-around">
        <div><span [ngClass]="getLabelClass()">Selected</span></div>
        <div><span class="badge bg-light mr-2">Available</span></div>
        <div><span class="badge bg-secondary mr-2">{{getRightText()}}</span></div>
      </div>
      
      <div *ngIf="selectedSeats.length > 0" class="mt-3 text-center">
        <h5>Selected Seats: {{returnSelectedSeats()}}</h5>
        <button class="btn btn-success mt-2" (click)="proceedClick()" *ngIf="type!=2">Proceed to Book</button>
      </div>
    </div>
  </div>
</div>