<div class="login-container">
    <h2>Log In</h2>
  
    <form [formGroup]="bookingForm" >

      
       <div class="form-group" *ngIf="startStationList.length!=0">
        <label for="startstation">Start Station</label>
        <select id="startstation" title="Filter By:" formControlName="startstation" >
            <option [ngValue]="defaultStation" disabled selected hidden>{{defaultStation.station_name}}</option>
            <option *ngFor="let station of startStationList" [ngValue]="station">{{station.station_name}}</option>
        </select>

        <label for="startdate">Start date:</label>
        <input type="date" id="startdate" name="startdate" formControlName="startDate">
        
        <label for="starttime">Start time:</label>
        <input type="time" id="starttime" name="starttime" formControlName="startTime">

        <label for="endstation">End Station</label>
        <select id="endstation" title="Filter By:" formControlName="endstation">
            <option [ngValue]="defaultStation" disabled selected hidden>{{defaultStation.station_name}}</option>
            <option *ngFor="let station of endStationList" [ngValue]="station">{{station.station_name}}</option>
        </select>
       </div>

       <!------------------ -->
       <p (click)="activateDeactivateEndStationRibbon()" *ngIf="isEndStationRibbonActivated==false"><u>Search also by destination Date +++</u></p>
       <p (click)="activateDeactivateEndStationRibbon()" *ngIf="isEndStationRibbonActivated==true"><u>Search only by start Date ---</u></p>

       <div class="form-group" *ngIf="endStationList.length!=0 && isEndStationRibbonActivated==true">
                
        <label for="enddate">End date:</label>
        <input type="date" id="enddate" name="enddate" formControlName="endDate" [min]="'2020-05-01'">

        <label for="endtime">End time:</label>
        <input type="time" id="endtime" name="endtime" formControlName="endTime">

        <span class="error-message" *ngIf="!validateEndDate() && getControl('endDate').untouched==false && getControl('endTime').untouched==false">
            Select a date and time larger than start date and time
        </span>
    </div>
      
      <div class="form-buttons">
        <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button>
      </div>
      <br>
      <div class="form-group">
        <span class="error-message" *ngIf="errMessege!='' ">
          {{errMessege}}
        </span>
      </div>

    </form>
  </div>
  


